@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');

h1 {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 100px;
  color: #008080;
  text-shadow: 2px 2px 4px #000000;
}
.Square {
animation: spin 4s linear infinite;
  background-color: #D2D2D2;
  width: 100px;
  height: 100px;
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
